
{% extends 'index_master.html' %}
{% block content %}
{% load static %}


<style>
    .required-field::after {
        content: "*";
        color: red;
    }
    .hidden {
        display: none;
    }

</style>

<div class="right_col" role="main">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="tile">
              <div id="form_container">

              <form id="completoForm" method="post" action="{% url 'agregarP' %}">
                {% csrf_token %}
              <div id="paciente_form" >
                <h2 class="tile-title text-center">Identificación del Paciente</h2>
                <p class="text-center mb-4">
                    La identificación precisa del paciente es un pilar fundamental en la prestación de atención médica...
                </p>

                <!-- Formulario del Paciente -->
                    
                    <div class="form-group">
                        <label class="required-field" for="nombre_completo">Nombre Completo:</label>
                        <input type="text" id="nombre_completo" name="nombre_completo" class="form-control" maxlength="35" required>
                        <span id="nombre_completo_error" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="nombre_social">Nombre Social:</label>
                        <input type="text" id="nombre_social" name="nombre_social" class="form-control" maxlength="35">
                    </div>

                    <div class="form-group">
                        <label class="required-field" for="edad">Edad:</label>
                        <input type="number" id="edad" name="edad" class="form-control" required>
                        <span id="edad_error" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="required-field" for="pais_nacimiento">País de Nacimiento:</label>
                        <select id="pais_nacimiento" name="pais_nacimiento" class="form-control" required>
                            <option value="" disabled selected>Seleccione un país</option>
                            <option value="Chile">Chile</option>
                            <option value="Venezuela">Venezuela</option>
                            <option value="Perú">Perú</option>
                            <option value="Haití">Haití</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Bolivia">Bolivia</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Estados Unidos">Estados Unidos</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="region_zona_nacimiento">Región o Zona de Nacimiento:</label>
                        <input type="text" id="region_zona_nacimiento" name="region_zona_nacimiento" class="form-control" maxlength="100">
                    </div>

                    <div class="form-group">
                        <label for="region_zona_residencia_actual">Región o Zona de Residencia Actual:</label>
                        <input type="text" id="region_zona_residencia_actual" name="region_zona_residencia_actual" class="form-control" maxlength="100">
                    </div>

                    <div class="form-group">
                        <label class="required-field" for="nacionalidad">Nacionalidad:</label>
                        <select id="nacionalidad" name="nacionalidad" class="form-control" required>
                            <option value="" disabled selected>Seleccione una nacionalidad</option>
                            <option value="Chilena">Chilena</option>
                            <option value="Venezolana">Venezolana</option>
                            <option value="Peruana">Peruana</option>
                            <option value="Haitiana">Haitiana</option>
                            <option value="Colombiana">Colombiana</option>
                            <option value="Boliviana">Boliviana</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Norteamericana">Norteamericana</option>
                            <option value="Otra">Otra</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="required-field" for="idioma_hablado">Idioma que Habla:</label>
                        <select id="idioma_hablado" name="idioma_hablado" class="form-control" required>
                            <option value="" disabled selected>Seleccione un idioma</option>
                            <option value="Español">Español</option>
                            <option value="Creol">Creol</option>
                            <option value="Frances">Frances</option>
                            <option value="Inglés">Inglés</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="required-field" for="metodo_contacto_fono">Método de Contacto (teléfono):</label>
                        <input type="text" id="metodo_contacto_fono" name="metodo_contacto_fono" class="form-control" maxlength="15" required>
                        <span id="metodo_contacto_fono_error" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="required-field" for="metodo_contacto_email">Método de Contacto (email):</label>
                        <input type="email" id="metodo_contacto_email" name="metodo_contacto_email" class="form-control" required>
                        <span id="metodo_contacto_email_error" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="required-field" for="tipo_documento_identidad">Documento de Identidad (tipo):</label>
                        <select id="tipo_documento_identidad" name="tipo_documento_identidad" class="form-control" required>
                            <option value="" disabled selected>Seleccione un tipo de documento</option>
                            <option value="DNI">Documento Nacional Identidad (DNI)</option>
                            <option value="Carnet">Carnet de Identidad Chileno</option>
                            <option value="Pasaporte">Pasaporte</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="required-field" for="numero_documento_identidad">Número de Documento de Identidad:</label>
                        <input type="text" id="numero_documento_identidad" name="numero_documento_identidad" class="form-control" maxlength="25" required>
                        <span id="numero_documento_identidad_error" class="text-danger"></span>
                    </div>

                    <div class="text-center">
                        <button type="button" id="siguienteButton" class="btn btn-primary btn-lg">Siguiente</button>
                    </div>
                </div>
            
                    <!-- Formulario del Responsable -->
                <div id="form_responsable" class="hidden">
                    <h2>Persona Responsable Médico Legal del Paciente, Acompañante</h2>
                    <p>
                        La figura del acompañante ya sea un familiar o no, adquiere una relevancia especial en el contexto de patologías complejas y/o múltiples...
                    </p>
                        <div class="form-group">
                            <label for="es_paciente">* ¿Es usted el Paciente?</label>
                            <select id="es_paciente" name="es_paciente" class="form-control" required>
                                <option value="">Seleccione una opción</option>
                                <option value="True">Sí</option>
                                <option value="False">No</option>
                            </select>
                        </div>
        
                        <div id="extra_fields" class="hidden">
                            <div class="form-group">
                                <label for="relacion">¿Relación con el paciente?</label>
                                <select id="relacion" name="relacion" class="form-control">
                                    <option value="">Seleccione una opción</option>
                                    <option value="Padre/Madre">Padre/Madre</option>
                                    <option value="Hijo/Hija">Hijo/Hija</option>
                                    <option value="Esposo/Esposa">Esposo/Esposa o Pareja</option>
                                    <option value="Hermano/Hermana">Hermano/Hermana</option>
                                    <option value="Abuelo/Abuela">Abuelo/Abuela</option>
                                    <option value="Nieto/Nieta">Nieto/Nieta</option>
                                    <option value="Tío/Tía">Tío/Tía</option>
                                    <option value="Primo/Prima">Primo/Prima</option>
                                    <option value="Amigo/Amiga">Amigo/Amiga</option>
                                    <option value="Vecino/Vecina">Vecino/Vecina</option>
                                    <option value="Cuidador">Cuidador/Cuidadora profesional</option>
                                    <option value="Personal de emergencia">Personal de emergencia</option>
                                    <option value="Conviviente">Conviviente en misma residencia, no relacionados como pareja</option>
                                    <option value="Otro">Otro</option>
                                </select>
                                
                            </div>
                            <div class="form-group">
                                <label class="required-field" for="nombre_completo_responsable">Nombre Completo:</label>
                                <input type="text" id="nombre_completo_responsable" name="nombre_completo_responsable" class="form-control" maxlength="35" required>
                                <span id="nombre_completo_responsable_error" class="text-danger"></span>
                            </div>
        
                            <div class="form-group">
                                <label for="nombre_social_responsable">Nombre Social:</label>
                                <input type="text" id="nombre_social_responsable" name="nombre_social_responsable" class="form-control" maxlength="35">
                            </div>
        
                            <div class="form-group">
                                <label class="required-field" for="edad_responsable">Edad:</label>
                                <input type="number" id="edad_responsable" name="edad_responsable" class="form-control" required>
                                <span id="edad_responsable_error" class="text-danger"></span>
                            </div>
        
                            <div class="form-group">
                                <label class="required-field" for="pais_nacimiento_responsable">País de Nacimiento:</label>
                                <select id="pais_nacimiento_responsable" name="pais_nacimiento_responsable" class="form-control" required>
                                    <option value="" disabled selected>Seleccione un país</option>
                                    <option value="Chile">Chile</option>
                                    <option value="Venezuela">Venezuela</option>
                                    <option value="Perú">Perú</option>
                                    <option value="Haití">Haití</option>
                                    <option value="Colombia">Colombia</option>
                                    <option value="Bolivia">Bolivia</option>
                                    <option value="Argentina">Argentina</option>
                                    <option value="Estados Unidos">Estados Unidos</option>
                                    <option value="Otro">Otro</option>
                                </select>
                            </div>
        
        
                            <div class="form-group">
                                <label class="required-field" for="nacionalidad_responsable">Nacionalidad:</label>
                                <select id="nacionalidad_responsable" name="nacionalidad_responsable" class="form-control" required>
                                    <option value="" disabled selected>Seleccione una nacionalidad</option>
                                    <option value="Chilena">Chilena</option>
                                    <option value="Venezolana">Venezolana</option>
                                    <option value="Peruana">Peruana</option>
                                    <option value="Haitiana">Haitiana</option>
                                    <option value="Colombiana">Colombiana</option>
                                    <option value="Boliviana">Boliviana</option>
                                    <option value="Argentina">Argentina</option>
                                    <option value="Norteamericana">Norteamericana</option>
                                    <option value="Otra">Otra</option>
                                </select>
                            </div>
        
                            <div class="form-group">
                                <label class="required-field" for="idioma_responsable">Idioma que Habla:</label>
                                <select id="idioma_responsable" name="idioma_responsable" class="form-control" required>
                                    <option value="" disabled selected>Seleccione un idioma</option>
                                    <option value="Español">Español</option>
                                    <option value="Creol">Creol</option>
                                    <option value="Frances">Frances</option>
                                    <option value="Inglés">Inglés</option>
                                    <option value="Otro">Otro</option>
                                </select>
                            </div>
        
                            <div class="form-group">
                                <label class="required-field" for="metodo_contacto_fono_responsable">Método de Contacto (teléfono):</label>
                                <input type="text" id="metodo_contacto_fono_responsable" name="metodo_contacto_fono_responsable" class="form-control" maxlength="15" required>
                                <span id="metodo_contacto_fono_responsable_error" class="text-danger"></span>
                            </div>
        
                            <div class="form-group">
                                <label class="required-field" for="metodo_contacto_email_responsable">Método de Contacto (email):</label>
                                <input type="email" id="metodo_contacto_email_responsable" name="metodo_contacto_email_responsable" class="form-control" required>
                                <span id="metodo_contacto_email_responsable_error" class="text-danger"></span>
                            </div>
        
                            <div class="form-group">
                                <label class="required-field" for="tipo_documento_identidad_responsable">Documento de Identidad (tipo):</label>
                                <select id="tipo_documento_identidad_responsable" name="tipo_documento_identidad_responsable" class="form-control" required>
                                    <option value="" disabled selected>Seleccione un tipo de documento</option>
                                    <option value="DNI">Documento Nacional Identidad (DNI)</option>
                                    <option value="Carnet">Carnet de Identidad Chileno</option>
                                    <option value="Pasaporte">Pasaporte</option>
                                    <option value="Otro">Otro</option>
                                </select>
                            </div>
        
                            <div class="form-group">
                                <label class="required-field" for="numero_documento_identidad_responsable">Número de Documento de Identidad:</label>
                                <input type="text" id="numero_documento_identidad_responsable" name="numero_documento_identidad_responsable" class="form-control" maxlength="25" required>
                                <span id="numero_documento_identidad_responsable_error" class="text-danger"></span>
                            </div>
                        </div>
                            <div class="text-center">
                                <button type="button" id="previewButton" class="btn btn-primary btn-lg">Vista Previa</button>
                            </div>
                        
                    </div>
                </div>
              
            
                      
            
                
                

                <!-- Vista previa -->
                <div id="previewDiv" class="hidden">
                    <h2 class="text-center">Vista Previa</h2>
                    <div class="text-center">
                        <p><strong>Nombre Completo:</strong> <span id="preview_nombre_completo"></span></p>
                        <p><strong>Nombre Social:</strong> <span id="preview_nombre_social"></span></p>
                        <p><strong>Edad:</strong> <span id="preview_edad"></span></p>
                        <p><strong>País de Nacimiento:</strong> <span id="preview_pais_nacimiento"></span></p>
                        <p><strong>Región/Zona de Nacimiento:</strong> <span id="preview_region_zona_nacimiento"></span></p>
                        <p><strong>Región/Zona de Residencia Actual:</strong> <span id="preview_region_zona_residencia_actual"></span></p>
                        <p><strong>Nacionalidad:</strong> <span id="preview_nacionalidad"></span></p>
                        <p><strong>Idioma que Habla:</strong> <span id="preview_idioma_hablado"></span></p>
                        <p><strong>Método de Contacto (teléfono):</strong> <span id="preview_metodo_contacto_fono"></span></p>
                        <p><strong>Método de Contacto (email):</strong> <span id="preview_metodo_contacto_email"></span></p>
                        <p><strong>Tipo de Documento de Identidad:</strong> <span id="preview_tipo_documento_identidad"></span></p>
                        <p><strong>Número de Documento de Identidad:</strong> <span id="preview_numero_documento_identidad"></span></p>
                        <p><strong>Es paciente?:</strong> <span id="preview_es_paciente"></span></p>
                        <p><strong>Nombre Completo (Responsable):</strong> <span id="preview_nombre_completo_responsable"></span></p>
                        <p><strong>Nombre Social(Responsable):</strong> <span id="preview_nombre_social_responsable"></span></p>
                        <p><strong>Edad(Responsable):</strong> <span id="preview_edad_responsable"></span></p>
                        <p><strong>País de Nacimiento(Responsable):</strong> <span id="preview_pais_nacimiento_responsable"></span></p>
                        <p><strong>Nacionalidad(Responsable):</strong> <span id="preview_nacionalidad_responsable"></span></p>
                        <p><strong>Idioma que Habla(Responsable):</strong> <span id="preview_idioma_responsable"></span></p>
                        <p><strong>Método de Contacto Responsable (teléfono):</strong> <span id="preview_metodo_contacto_fono_responsable"></span></p>
                        <p><strong>Método de Contacto Responsable (email):</strong> <span id="preview_metodo_contacto_email_responsable"></span></p>
                        <p><strong>Tipo de Documento de Identidad(Responsable):</strong> <span id="preview_tipo_documento_identidad_responsable"></span></p>
                        <p><strong>Número de Documento de Identidad(Responsable):</strong> <span id="preview_numero_documento_identidad_responsable"></span></p>
                    </div>
                    <div class="text-center">
                        <button type="button" id="editButton" class="btn btn-secondary btn-lg">Editar</button>
                        <button type="submit" id="submitButton" class="btn btn-success btn-lg">Enviar</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>


<script>
    
    function validateForm() {
        let isValid = true;
        console.log("Validando formulario...");

        // Validación de campos en el primer formulario
        const formPaciente = document.getElementById('paciente_form');
        if (formPaciente.classList.contains('hidden') === false) {
            const pacientefields = {
                nombre_completo: "Debe ingresar su nombre completo.",
                edad: "Debe ingresar su edad.",
                pais_nacimiento: "Debe ingresar su país de nacimiento.",
                nacionalidad: "Debe ingresar su nacionalidad.",
                idioma_hablado: "Debe ingresar el idioma que habla.",
                metodo_contacto_fono: "Debe ingresar un método de contacto (teléfono).",
                metodo_contacto_email: "Debe ingresar un email de contacto.",
                tipo_documento_identidad: "Debe ingresar el tipo de documento de identidad.",
                numero_documento_identidad: "Debe ingresar un número de documento de identidad.",
        };

        Object.keys(pacientefields).forEach(fieldId => {
            let value = document.getElementById(fieldId);
            let errorElement = document.getElementById(`${fieldId}_error`);
            if (value && errorElement) {
                let fieldValue = value.value.trim();
                if (fieldValue === "" || (value.tagName === "SELECT" && fieldValue === "")) {
                    errorElement.innerText = fields[fieldId];
                    isValid = false;
                } else {
                    errorElement.innerText = "";
                }
            }
        })
        };

        // Validación de campos del responsable si están visibles
        // Validación de campos del responsable si están visibles
        const formResponsable = document.getElementById('form_responsable');
        const esPacienteField = document.getElementById('es_paciente');

        if (formResponsable.classList.contains('hidden') === false) {
            // Solo validamos si el campo 'es_paciente' es falso
            if (esPacienteField.value === "False") {
                const responsibleFields = {
                    relacion: "Debe ingresar qué tipo de relación tiene con el paciente.",
                    nombre_completo_responsable: "Debe ingresar el nombre completo del responsable.",
                    edad_responsable: "Debe ingresar la edad del responsable.",
                    pais_nacimiento_responsable: "Debe ingresar el país de nacimiento del responsable.",
                    nacionalidad_responsable: "Debe ingresar la nacionalidad del responsable.",
                    idioma_responsable: "Debe ingresar el idioma que habla el responsable.",
                    metodo_contacto_fono_responsable: "Debe ingresar un método de contacto (teléfono) del responsable.",
                    metodo_contacto_email_responsable: "Debe ingresar un email de contacto del responsable.",
                    tipo_documento_identidad_responsable: "Debe ingresar el tipo de documento de identidad del responsable.",
                    numero_documento_identidad_responsable: "Debe ingresar un número de documento de identidad del responsable."
                };

                Object.keys(responsibleFields).forEach(fieldId => {
                    let value = document.getElementById(fieldId);
                    let errorElement = document.getElementById(`${fieldId}_error`);
                    if (value && errorElement) {
                        let fieldValue = value.value.trim();
                        if (fieldValue === "" || (value.tagName === "SELECT" && fieldValue === "")) {
                            errorElement.innerText = responsibleFields[fieldId];
                            isValid = false;
                        } else {
                            errorElement.innerText = "";
                        }
                    }
                });
            }
        }

        console.log("Formulario válido:", isValid);
        return isValid;
    }

    function populatePreview() {
        // Datos del primer formulario
        console.log("Poblando vista previa...");
        const formPaciente = document.getElementById('paciente_form');
        document.getElementById('preview_nombre_completo').innerText = document.getElementById('nombre_completo').value;
        document.getElementById('preview_nombre_social').innerText = document.getElementById('nombre_social').value || 'N/A';
        document.getElementById('preview_edad').innerText = document.getElementById('edad').value;
        document.getElementById('preview_pais_nacimiento').innerText = document.getElementById('pais_nacimiento').value;
        document.getElementById('preview_region_zona_nacimiento').innerText = document.getElementById('region_zona_nacimiento').value || 'N/A';
        document.getElementById('preview_region_zona_residencia_actual').innerText = document.getElementById('region_zona_residencia_actual').value || 'N/A';
        document.getElementById('preview_nacionalidad').innerText = document.getElementById('nacionalidad').value;
        document.getElementById('preview_idioma_hablado').innerText = document.getElementById('idioma_hablado').value;
        document.getElementById('preview_metodo_contacto_fono').innerText = document.getElementById('metodo_contacto_fono').value;
        document.getElementById('preview_metodo_contacto_email').innerText = document.getElementById('metodo_contacto_email').value;
        document.getElementById('preview_tipo_documento_identidad').innerText = document.getElementById('tipo_documento_identidad').value;
        document.getElementById('preview_numero_documento_identidad').innerText = document.getElementById('numero_documento_identidad').value;

        // Datos del segundo formulario (si están visibles)
        const formResponsable = document.getElementById('form_responsable');
        if (formResponsable.classList.contains('hidden') === false) {
            document.getElementById('preview_es_paciente').innerText = document.getElementById('es_paciente').value;
            document.getElementById('preview_nombre_completo_responsable').innerText = document.getElementById('nombre_completo_responsable').value;
            document.getElementById('preview_nombre_social_responsable').innerText = document.getElementById('nombre_social_responsable').value || 'N/A';
            document.getElementById('preview_edad_responsable').innerText = document.getElementById('edad_responsable').value;
            document.getElementById('preview_pais_nacimiento_responsable').innerText = document.getElementById('pais_nacimiento_responsable').value;
            document.getElementById('preview_nacionalidad_responsable').innerText = document.getElementById('nacionalidad_responsable').value;
            document.getElementById('preview_idioma_responsable').innerText = document.getElementById('idioma_responsable').value;
            document.getElementById('preview_metodo_contacto_fono_responsable').innerText = document.getElementById('metodo_contacto_fono_responsable').value;
            document.getElementById('preview_metodo_contacto_email_responsable').innerText = document.getElementById('metodo_contacto_email_responsable').value;
            document.getElementById('preview_tipo_documento_identidad_responsable').innerText = document.getElementById('tipo_documento_identidad_responsable').value;
            document.getElementById('preview_numero_documento_identidad_responsable').innerText = document.getElementById('numero_documento_identidad_responsable').value;
        } else {
            // Asignar 'N/A' o dejar en blanco si no aplica
            document.getElementById('preview_es_paciente').innerText = 'N/A';
            document.getElementById('preview_nombre_completo_responsable').innerText = 'N/A';
            document.getElementById('preview_nombre_social_responsable').innerText = 'N/A';
            document.getElementById('preview_edad_responsable').innerText = 'N/A';
            document.getElementById('preview_pais_nacimiento_responsable').innerText = 'N/A';
            document.getElementById('preview_nacionalidad_responsable').innerText = 'N/A';
            document.getElementById('preview_idioma_responsable').innerText = 'N/A';
            document.getElementById('preview_metodo_contacto_fono_responsable').innerText = 'N/A';
            document.getElementById('preview_metodo_contacto_email_responsable').innerText = 'N/A';
            document.getElementById('preview_tipo_documento_identidad_responsable').innerText = 'N/A';
            document.getElementById('preview_numero_documento_identidad_responsable').innerText = 'N/A';
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
    const siguienteButton = document.getElementById('siguienteButton');
    const previewButton = document.getElementById('previewButton');
    const pacienteForm =document.getElementById('paciente_form')
    const completoForm = document.getElementById('completoForm');
    const formResponsable = document.getElementById('form_responsable');
    const esPacienteSelect = document.getElementById('es_paciente');
    const extraFields = document.getElementById('extra_fields');
    const previewDiv = document.getElementById('previewDiv');
    const editButton = document.getElementById('editButton');
    const submitButton = document.getElementById('submitButton');

    siguienteButton.addEventListener('click', function() {
        if (validateForm()) {
            populatePreview();
            pacienteForm.classList.add('hidden');
            formResponsable.classList.remove('hidden');
            previewDiv.classList.add('hidden');
        }
    });

    previewButton.addEventListener('click', function() {
        if (validateForm()) {
            populatePreview();
            previewDiv.classList.remove('hidden');
            formResponsable.classList.add('hidden');
        }
    });

    editButton.addEventListener('click', function() {
        previewDiv.classList.add('hidden');
        formResponsable.classList.remove('hidden');
    });

    submitButton.addEventListener('click', function() {
        if (validateForm()) {
            document.getElementById('completoForm').submit();
        }
    });


    esPacienteSelect.addEventListener('change', function() {
        if (esPacienteSelect.value === 'True') {
            extraFields.classList.add('hidden');
        } else {
            extraFields.classList.remove('hidden');
        }
    });
});

</script>

{% endblock %}
